html, body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative; /* 让绝对定位的子元素相对于 body 定位 */
    font-family: Arial, sans-serif;
  }

header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px; /* Logo的左边距 */
}

.logo img {
    margin-right: 10px;
}

.title-container {
    display: flex; /* 使用flex布局 */
    align-items: center; /* 垂直居中对齐 */
}

.site-name {
    font-size: 32px; /* 大标题的字体大小 */
    color: #333333;
    margin-right: 10px; /* 大标题的右边距 */
}

.subtitle {
    font-size: 16px; /* 小标题的字体大小 */
    color: #666; /* 小标题的颜色 */
    margin: 0; /* 小标题的边距 */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #e74c3c;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
.card h2 {
    margin: 10px 0;
}
.card p {
    color: #666;
}
.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.card a:hover {
    background-color: #555;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    width: 70%; /* footer-content 的宽度 */
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}